<%= form_for(@sellable_type) do |f| %>
  <% if @sellable_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('errors.template.header',
                model: SellableType.model_name.human, count: @sellable_type.errors.count) %></h2>

      <ul>
      <% @sellable_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
