<p id="notice"><%= notice %></p>

<h1>Listing Sellable Types</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sellable_types.each do |sellable_type| %>
      <tr>
        <td><%= sellable_type.name %></td>
        <td><%= link_to 'Show', sellable_type %></td>
        <td><%= link_to 'Edit', edit_sellable_type_path(sellable_type) %></td>
        <td><%= link_to 'Destroy', sellable_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sellable type', new_sellable_type_path %>
