<h1><%= SellableType.model_name.human %></h1>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= SellableType.human_attribute_name :name %>:</strong>
  <%= @sellable_type.name %>
</p>

<%= link_to 'Editer', edit_sellable_type_path(@sellable_type) %> |
<%= link_to 'Retour', sellable_types_path %>
