<%= nested_form_for(@invoice) do |f| %>
    <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

          <ul>
            <% @invoice.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.fields_for :orders do |order_form| %>
        <%= order_form.label :quantite %>
        <%= order_form.text_field :quantite %>

        <%= order_form.label :reduction %>
        <%= order_form.text_field :reduction %>

        <%= order_form.label :sellable_id %>
        <%= order_form.text_field :sellable_id %>
        <%= order_form.link_to_remove "Remove this task" %>
    <% end %>
    <p><%= f.link_to_add "Add an order", :orders %></p>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
