<%= nested_form_for(@invoice) do |f| %>
    <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

          <ul>
            <% @invoice.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.fields_for :orders do |order_form| %>
        <div class="form-inline">
          <%= order_form.label :quantity %>
          <%= order_form.text_field :quantity, class: 'form-control' %>

          <%= order_form.label :discount %>
          <%= order_form.text_field :discount, class: 'form-control' %>

          <%= order_form.label :sellable_id %>
          <%= order_form.text_field :sellable_id, class: 'form-control' %>
          <%= order_form.link_to_remove "Remove this task" %>
        </div>
    <% end %>
    <p><%= f.link_to_add "Add an order", :orders %></p>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
