<p id="notice"><%= notice %></p>

<h1><%= Invoice.model_name.human(count: 2) %></h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Numéro</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= link_to 'Show', invoice %></td>
        <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Nouveau #{Invoice.model_name.human}", new_invoice_path %>
