<%= nested_form_for @sellable do |f| %>
    <% if @sellable.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@sellable.errors.count, "error") %> prohibited this sellable from being saved:</h2>

          <ul>
            <% @sellable.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :unit %><br>
      <%= f.text_field :unit, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :stock %><br>
      <%= f.number_field :stock, class: 'form-control' %>
    </div>

    <%= f.fields_for :prices, @prices do |price_form| %>
        <div class="form-group">
          <%= price_form.label price_form.object.price_type.name %><br>
          <%= price_form.number_field :value, class: 'form-control', step: 'any' %>
          <%= price_form.hidden_field :price_type_id, value: price_form.object.price_type.id %>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :sellable_type_id %><br>
      <%= f.select :sellable_type_id, options_from_collection_for_select(@sellable_types, 'id', 'name'), {}, class: 'form-control selectpicker' %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
