<p id="notice"><%= notice %></p>

<h1><%= Sellable.model_name.human(count: 2) %></h1>

<table class="table table-responsive">
  <thead>
  <tr>
    <th><%= Sellable.human_attribute_name :unit %></th>
    <th><%= Sellable.human_attribute_name :name %></th>
    <th><%= Sellable.human_attribute_name :description %></th>
    <th><%= Sellable.human_attribute_name :stock %></th>
    <% @price_types.each do |p| %>
        <% if current_user.is_member? || p.display %>
            <th><%= p.name %></th>
        <% end %>
    <% end %>
    <th><%= SellableType.model_name.human %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @sellables.each do |sellable| %>
      <tr>
        <td><%= sellable.unit %></td>
        <td><%= sellable.name %></td>
        <td><%= sellable.description %></td>
        <td><%= sellable.stock %></td>
        <% @price_types.each do |p| %>
            <% if current_user.is_member? || p.display %>
                <td><%= sellable.price_value(p) %> €</td>
            <% end %>
        <% end %>
        <td><%= sellable.sellable_type.name %></td>
        <td><%= link_to 'Show', sellable %></td>
        <% if current_user.is_member? %>
            <td><%= link_to 'Edit', edit_sellable_path(sellable) %></td>
            <td><%= link_to 'Destroy', sellable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
<% if current_user.is_member? %>
    <%= link_to "Nouveau #{Sellable.model_name.human}", new_sellable_path %>
<% end %>
