<%= Sellable.model_name.human %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Sellable.human_attribute_name :unit %>:</strong>
  <%= @sellable.unit %>
</p>

<p>
  <strong><%= Sellable.human_attribute_name :name %>:</strong>
  <%= @sellable.name %>
</p>

<p>
  <strong><%= Sellable.human_attribute_name :description %>:</strong>
  <%= @sellable.description %>
</p>

<p>
  <strong><%= Sellable.human_attribute_name :stock %>:</strong>
  <%= @sellable.stock %>
</p>
<% unless @sellable.price.nil? %>
    <% if current_user.is_member? %>
        <p>
          <strong><%= Price.human_attribute_name :innovation_center %>:</strong>
          <%= @sellable.price.innovation_center %>
        </p>

        <p>
          <strong><%= Price.human_attribute_name :permanencier %>:</strong>
          <%= @sellable.price.permanencier %>
        </p>
    <% end %>

    <p>
      <strong><%= Price.human_attribute_name :non_commercial %>:</strong>
      <%= @sellable.price.non_commercial %>
    </p>

    <p>
      <strong><%= Price.human_attribute_name :commercial %>:</strong>
      <%= @sellable.price.commercial %>
    </p>
<% end %>
<% unless @sellable.sellable_type.nil? %>
    <p>
      <strong><%= SellableType.model_name.human %>:</strong>
      <%= @sellable.sellable_type.name %>
    </p>
<% end %>

<% if current_user.is_member? %>
    <%= link_to 'Editer', edit_sellable_path(@sellable) %> |
<% end %>
<%= link_to 'Retour', sellables_path %>
