<%= Sellable.model_name.human %>

<p id="notice"><%= notice %></p>

<p>
  <strong><%= Sellable.human_attribute_name :unit %>:</strong>
  <%= @sellable.unit %>
</p>

<p>
  <strong><%= Sellable.human_attribute_name :name %>:</strong>
  <%= @sellable.name %>
</p>

<p>
  <strong><%= Sellable.human_attribute_name :description %>:</strong>
  <%= @sellable.description %>
</p>

<p>
  <strong><%= Sellable.human_attribute_name :stock %>:</strong>
  <%= @sellable.stock %>
</p>

<% @price_types.each do |p| %>
    <% if p.display %>
        <p>
          <strong><%= p.name %>:</strong>
          <%= number_to_currency @sellable.price_value(p) %>
        </p>
    <% end %>
<% end %>

<% unless @sellable.sellable_type.nil? %>
    <p>
      <strong><%= SellableType.model_name.human %>:</strong>
      <%= @sellable.sellable_type.name %>
    </p>
<% end %>

<% if current_user.is_member? %>
    <%= link_to 'Editer', edit_sellable_path(@sellable) %> |
<% end %>
<%= link_to 'Retour', sellables_path %>
