<%= nested_form_for(@invoice) do |f| %>
    <% if @invoice.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

          <ul>
            <% @invoice.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="row">
      <div class="col-md-10">
        <%= f.fields_for :orders do |order_form| %>
            <div class="form-inline">
              <%= order_form.label :quantity %>
              <%= order_form.text_field :quantity, class: 'form-control', disabled: !current_user.is_member? %>

              <%= order_form.label :discount %>
              <%= order_form.text_field :discount, class: 'form-control', disabled: !current_user.is_member? %>

              <%= order_form.label :sellable_id %>
              <%= order_form.select :sellable_id, options_from_collection_for_select(@sellables, 'id', 'name'), {}, {class: 'form-control', disabled: !current_user.is_member?} %>
              <% if current_user.is_member? %>
                  <%= order_form.link_to_remove "Remove this task" %>
              <% end %>
            </div>
        <% end %>
        <% if current_user.is_member? %>
            <p><%= f.link_to_add "Ajouter une #{Order.model_name.human}", :orders %></p>
        <% end %>

        <div class="form-group">
          <%= f.label :created_for %><br>
          <%= f.select :created_for, options_from_collection_for_select(@users, 'id', 'username'), {}, {class: 'form-control', disabled: !current_user.is_member?} %>
        </div>

        <% if current_user.is_member? %>
            <div class="actions">
              <%= f.submit %>
            </div>
        <% end %>
      </div>
      <div class="col-md-2">
        <div class="form-inline">
          <%= form_tag(edit_invoice_path(@invoice)) do %>
              <%= label_tag :price_type_id %>
              <%= select_tag :price_type_id, options_from_collection_for_select(@price_types, 'id', 'name', @price_type.id), onchange: 'this.form.submit();', class: 'form-control' %>
          <% end %>
        </div><br>
        Montant : <%= @invoice.price(@price_type) unless @invoice.orders.count == 0 %> €
      </div>
    </div>


<% end %>
