<p id="notice"><%= notice %></p>

<h1><%= Invoice.model_name.human(count: 2) %></h1>

<table class="table table-responsive">
  <thead>
  <tr>
    <th>Numéro</th>
    <th>Destinataire</th>
    <% @price_types.each do |p| %>
        <th>Montant (<%= p.name %>)</th>
    <% end %>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.client.email %></td>
        <% @price_types.each do |p| %>
            <td><%= number_to_currency invoice.price(p) %></td>
        <% end %>
        <td><%= link_to 'Show', invoice %></td>
        <% if current_user.is_member? %>
            <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<% if current_user.is_member? %>
    <%= link_to "Nouveau #{Invoice.model_name.human}", new_invoice_path %>
<% end %>
