<%= nested_form_for @sellable, validate: true do |f| %>
  <% if @sellable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sellable.errors.count, "error") %> prohibited this sellable from being saved:</h2>

      <ul>
      <% @sellable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :unit %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :stock %><br>
    <%= f.number_field :stock %>
  </div>

    <%= f.fields_for :price, validate: true do |price_form| %>
        <div class="field">
          <%= price_form.label :innovation_center %><br>
          <%= price_form.text_field :innovation_center %>
        </div>
        <div class="field">
          <%= price_form.label :permanencier %><br>
          <%= price_form.text_field :permanencier %>
        </div>
        <div class="field">
          <%= price_form.label :non_commercial %><br>
          <%= price_form.text_field :non_commercial %>
        </div>
        <div class="field">
          <%= price_form.label :commercial %><br>
          <%= price_form.text_field :commercial %>
        </div>

    <% end %>

    <%= f.fields_for :sellable_type do |sellable_type_form| %>
    <div class="field">
      <%= sellable_type_form.label :sellable_type_id %><br>
      <%= sellable_type_form.autocomplete_field :name, autocomplete_sellable_type_name_sellables_path %>
    </div>
    <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
