<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @sellable.unit %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sellable.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sellable.description %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @sellable.stock %>
</p>
<% unless @sellable.price.nil? %>
<p>
  <strong>Price per unit ci:</strong>
  <%= @sellable.price.innovation_center %>
</p>

<p>
  <strong>Price per unit permanencier:</strong>
  <%= @sellable.price.permanencier %>
</p>

<p>
  <strong>Price per unit nc:</strong>
  <%= @sellable.price.non_commercial %>
</p>

<p>
  <strong>Price per unit c:</strong>
  <%= @sellable.price.commercial %>
</p>
<% end %>
<% unless @sellable.sellable_type.nil? %>
<p>
  <strong>Sellable type:</strong>
  <%= @sellable.sellable_type.name %>
</p>
<% end %>
<%= link_to 'Edit', edit_sellable_path(@sellable) %> |
<%= link_to 'Back', sellables_path %>
