<!DOCTYPE html>
<html>
<head>
  <title>FablabManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <a id="logo" href="index.html"><%= image_tag("logo_fancy.png", alt:"Homepage") %></a>
  <div class="menu-icon menu-icon-cross">
    <span></span>
  </div>
  <nav>
    <ul>
      <li><a href="#">Accueil</a></li>
      <li><a href="#">L'Asso</a></li>
      <li><a href="#">Présentation</a></li>
      <li><a href="#">Devis</a></li>
      <li><a href="#">Ventes</a></li>
      <li><a href="#">Contact</a></li>
      <li id="btn-connexion">
        <% if current_user %>
          <%= current_user.username %>
          <%= link_to 'Deconnection', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Connection', new_user_session_path %>
        <% end %>
      </li>
    </ul>
  </nav>
</header>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Fablab Manager</h1>
    <div class="text-center">
      <%= link_to 'Factures', invoices_path, class: 'btn btn-default' %>
      <%= link_to 'Produits', sellables_path, class: 'btn btn-default' %>
      <%= link_to 'Types de produits', sellable_types_path, class: 'btn btn-default' %>
    </div>

    <br>
    <hline/>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id="main">
      

      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>
