<!DOCTYPE html>
<html>
<head>
  <title>FablabManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Fablab Manager</h1>
    <div class="text-center">
      <%= link_to 'Factures', invoices_path, class: 'btn btn-default' %>
      <%= link_to 'Produits', sellables_path, class: 'btn btn-default' %>
      <%= link_to 'Types de produits', sellable_types_path, class: 'btn btn-default' %>
    </div>

    <br>
    <hline/>

    <%= yield %>
  </div>
</div>

</body>
</html>
