<!DOCTYPE html>
<html>
<head>
  <title>FablabManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <a id="logo" href="index.html"><%= image_tag("logo_fancy.png", alt:"Homepage") %></a>
  <div id="nav-container">
    <nav id="cssmenu">
      <ul>
        <li><a href="#">Informations</a></li>
        <% if current_user %>
          <li id="btn-login">
            <%= link_to current_user.username, new_user_session_path %>
          </li>
          <li>
            <%= link_to 'Deconnection', destroy_user_session_path, class: "btn-nav", method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to 'Connection', new_user_session_path, class: "btn-nav" %>
          </li> 
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<div id="main" style="margin-top:55px;">
    <h1 class="text-center">Fablab Manager</h1>
    <div class="text-center">
      <%= link_to 'Factures', invoices_path, class: 'btn btn-default' %>
      <%= link_to 'Produits', sellables_path, class: 'btn btn-default' %>
      <%= link_to 'Types de produits', sellable_types_path, class: 'btn btn-default' %>
    </div>

    <br>
    <hline/>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div id="main">
      

      <%= yield %>
    </div>
</div>

</body>
</html>
