<!DOCTYPE html>
<html>
<head>
  <title>FablabManager</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render partial: 'layouts/header' %>
</header>

<div class="row">
  <div id="member-main" class="col-md-10 col-md-offset-1">
    <div class="cd-tabs">
      <nav>
        <ul class="cd-tabs-navigation">
          <% @tabs.each do |a| %>
              <li>
                <%= link_to Object.const_get(a.camelize).model_name.human, send(a.downcase.pluralize + "_path"), class: params[:controller] == "member/" + a.downcase.pluralize ? "selected" : "" %>
              </li>
          <% end %>
        </ul> <!-- cd-tabs-navigation -->
      </nav>

      <ul class="cd-tabs-content">
        <div class="row">
          <div class="col-md-9 col-md-offset-2">
            <%= yield %>
          </div>
        </div>
      </ul>

    </div>
  </div>
</div>


</body>
</html>
